:root {
    --cta-color: #bdffc5;
    --link-color: #93ca9a;
    --background-shadow:rgba(12, 75, 51, 0.4);
    --background-color: #1a231b;
    --card-color: #2b3a2e;
    --accent-color: #49634d;
    --tertiary-text: #808680;
    --secondary-text: #ced1cc;
    --primary-text: #ffffff;

    --background-modal-color: #d6e4d8;
}
