:root {
    --cta-color: #46774c;
    --link-color: #28572c;
    --background-color:  #d6e4d8;
    --background-shadow:rgba(208, 253, 229, 0.5);
    --card-color: #c5e0c9;
    --accent-color: #8aa88d;
    --tertiary-text: #465e49;
    --secondary-text: #2d3b2e;
    --primary-text: #1a231b;
    
    --background-modal-color: #46774c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primary-text);
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondary-text);
    font-family: 'Roboto', sans-serif;
}

ul{
	list-style: none;
	margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-text);
    font-weight: bold;
}

a:hover {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

.arrow {
    border: solid var(--primary-text);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* Showcase */

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--background-color);
    background: url('../img/original.jpg') no-repeat center/cover;
    display: grid;
    grid-template-rows: 60px 1fr 110px;
}

.showcase::after {
    content: '';
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: var(--background-shadow);
    -webkit-box-shadow: inset -2px -2px 128px -72px rgba(26,35,27,1);
    -moz-box-shadow: inset -2px -2px 128px -72px rgba(26,35,27,1);
    box-shadow: inset -2px -2px 128px -72px rgba(26,35,27,1);
}

.showcase-nav {
    position: relative;
	z-index: 2;
    background-color: var(--card-color);
    color: var(--primary-text);
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.showcase-nav .nav {
    align-items: center;
}

.fab {
    padding: 5px;
}

.showcase-content {
    align-self: center;
    justify-self: center;
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.showcase-content h1 {
    font-size: 4em;
}

.modes {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modes h4 {
    margin: auto 5px;
}

.light-mode {
    margin: auto 5px;
    height: 40px;
    width: 40px;
    background-color: #e2e9e3;
    border: 1px solid var(--link-color);
    border-radius: 50%;
    cursor: pointer;
}

.dark-mode {
    margin: auto 5px;
    height: 40px;
    width: 40px;
    background-color: #1a231b;
    border: 1px solid var(--link-color);
    border-radius: 50%;
    cursor: pointer;
}

.light-mode:hover, .dark-mode:hover {
    border: 5px solid var(--link-color);
}

.showcase-bottom {
    position: relative;
    z-index: 2;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0.3rem 2rem;
    border-radius: 100px;
    background-color: var(--cta-color);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    display: flex;
}

.button h3 {
    align-self: center;
    color: var(--background-color);
    font-weight: bold;
    margin: 0;
}
.button:hover{
    opacity: 0.7;
}


/* Project section */

.project-title {
    height: 80px;
    background-color: var(--card-color);
    text-align: center;
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    display: flex;
    justify-content: center;
}

.project-title h2 {
    color: var(--primary-text);
    font-size: 2.5rem;
    font-weight: bold;
    margin: auto 0;
}

.project-content {
    padding: 150px 100px;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    justify-items: center;
    gap: 100px;
}

.django-projectModel {
    display: grid;
    grid-template-rows: 3fr 4.5rem;
    max-width: 22rem;
    min-width: 22rem;
    height: 25.5rem;
    border: 3px solid var(--accent-color);
    background-color: var(--card-color);
}

.projectModel-upper {
    cursor: pointer;
}

.projectModel-upper:hover {
    transition: 0s;
    border: 3px solid var(--cta-color);
}

.projectModel-image {
    height: 200px;
}

.projectModel-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectModel-text {
    padding: 1rem;
    padding-bottom: 0;
}

.projectModel-text h3, p {
    margin: 0;
    text-align: center;
    color: var(--primary-text);
}

.projectModel-text h3 {
    padding-bottom: 0.8rem;
}

.projectModel-text p {
    padding: 0.4rem;
}

.projectModel-links {
    min-height: 4.5rem;
    padding-top: 0.5rem; 
    justify-self: center;
}

.project-btn {
    margin: 0 5px;
    padding: 5px;
    min-width: 100px;
    font-weight: bold;
    background-color: var(--cta-color);
    color: var(--background-color);
    border-radius: 15px;
    outline: none;
    border: none;
}

.project-btn:hover {
    opacity: 0.7;
}



/* MODAL AND BACKDROP */

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
  }
  
#backdrop.visible {
    display: block;
    pointer-events: all;
}

.my-card {
    background: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.my-modal {
  display: none;
  position: fixed;
  z-index: 100;
  width: 80%;
  top: 15vh;
  left: 10%;
}

.my-modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.my-modal-box {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.my-modal-content {
    padding: 2rem;
}

.my-modal-title {
    text-align: center;
}

.my-modal-title h2 {
    font-size: 2.5rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.my-modal-description p {
    white-space: pre-wrap;
    text-align: start;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
}

.my-modal-action {
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    align-items: center;

    padding: 2rem;

    background-color: var(--background-modal-color);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carousel-item  {
    height: 540px;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.carousel-control-prev-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231a231b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%231a231b' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}






/* About me section */

.skills-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    background-color: var(--background-color);
}

.about-content {
    padding: 150px 40px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--background-color);
}

.about-items {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.about-item {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--card-color);
    border: 3px solid var(--accent-color);
    border-radius: 25px;
}

.about-item p {
    margin: 0;
    padding: 15px;
    text-align: start;
    letter-spacing: 1px;
}

#profile_pic{
	display: block;
	margin:0 auto;
	height: 280px;
	width: 280px;
	object-fit: cover;
	border: 3px solid var(--accent-color);
    border-radius: 25px;
}

.expertise-content {

    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 60px;
}

.expertise-item {
    display: flex;
    align-content: center;
    width: 150px
}

li img {
    display: inline-block;
    width: 50px;
    height: 50px;
}


/* Contact */

.contact {
    background-color: var(--background-color);
    padding-bottom: 20px;
}

#contact-form {
	display: block;
	max-width: 700px;
	margin: 0 auto;
	padding: 30px;
}

#contact-form label {
    margin-top: 10px;
    margin-bottom: 0;
	line-height: 2.5em;
    color: var(--primary-text);
    font-weight: bold;
}

#contact-form textarea {
	min-height: 100px;
	font-size: 15px;
}

.input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px;
    padding-left: 5px;
	background-color: var(--card-color);
	border-radius: 5px;
	border:1px solid var(--accent-color);
	font-size: 15px;
    color: var(--primary-text);
}

#submit-btn {
	margin-top: 20px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px;
	color: var(--background-color);
	background-color: var(--cta-color);
	border:none;
    font-weight: bold;
}

#submit-btn:hover {
    opacity: 0.6;
}



/* VALIDATION FORM */
input:focus-visible {
    box-shadow: 0 0 5px 1px var(--cta-color);
}

input:focus:invalid {
    box-shadow: 0 0 5px 1px var(--cta-color);
}

.invalid-input-small {
    font-weight: bold;
    color: var(--cta-color);
    padding-top: 4px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}


/* Footer */

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--card-color);
    text-align: center;
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

footer h6 {
    color: var(--secondary-text);
    margin: 0;
}

/* Media Query */
@media screen and (max-width:1712px) {
    .about-content {
        padding: 100px 0;
        padding-left: 20px;
    }
}

@media screen and (max-width:1480px) {
    .about-content {
       display: flex;
       flex-direction: column;
       padding: 100px 0;
       padding-left: 20px;
       gap: 30px;
    }

    .expertise-content {
        gap: 100px;
    }
}

@media screen and (max-width: 1440px) {
    .my-modal {
        top: 5vh;
    }

    .my-modal-content {
        padding: 1rem;
    }

    .my-modal-box {
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: visible;
    }

    .my-modal-title h2 {
        padding: 0;
    }

    .carousel {
        border-radius: 10px;
        align-items: flex-start;
        max-height: 450px;
    }

    .carousel-item {
        height: 350px;
    }

    .carousel-item img {
        object-fit: fill;
    }
}

@media screen and (max-width:1100px) {
    .project-content {
        padding-top: 120px;
        padding-bottom: 120px;
        gap: 100px;
    }
}

@media screen and (max-width:966px) {
    .project-content {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .carousel {
        max-height: 520px;
    }

    .carousel-item {
        height: auto;
    }
}

@media screen and (max-width:860px) {
    .skills-section {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .about-content {
        padding-right: 20px;
    }

    .expertise-content {
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 100px;
    }
}

@media screen and (max-width:555px) {
    .django-projectModel {
        min-width: 20rem;
    }

    .my-modal-box {
        max-height: 550px;
        overflow-y: scroll;
        border-radius: 10px;
    }
}

@media screen and (max-width:410px) {
    .carousel {
        display: none;
    }

    .expertise-content {
        gap: 60px;
    }
}

@media screen and (max-width:360px) {
    .expertise-content {
        gap: 30px;
    }

    .expertise-item {
        width: 120px;
    }
}


@media screen and (max-width:320px) {
    .django-projectModel {
        min-width: 17rem;
    }

    #profile_pic {
        margin: 0;
    }

    .showcase-content h1 {
        font-size: 3.5em;
    }
}

@media screen and (max-height: 740px) {
    .my-modal-box {
        max-height: 630px;
        overflow-y: scroll;
        border-radius: 10px;
    }
}